<!DOCTYPE html>
<html>
<head>
    <title>COSC 331 Database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-controller="contactsController">
    <h1>Database</h1>
    <p>Please fill out the information below.</p>
    <div class ="container">

        <div class="col-sm-6">
            <form ng-submit="saveContact(contact)">
                <div class="form-group">
                    <input type="text" placeholder="First Name" ng-model="contact.firstName" class="form-control">
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Last Name" ng-model="contact.lastName" class="form-control">
                </div>
                
                <div class="form-group">
                    <input type="text" placeholder="Email" ng-model="contact.email" class="form-control">
                </div>
                
                <div class="form-group">
                    <input type="text" placeholder="Company" ng-model="contact.company" class="form-control">
                </div>
                
                <div class="form-group">
                    <input type="text" placeholder="Phone Number" ng-model="contact.phone" class="form-control">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>                
            </form>
        </div>

        <div class="col-sm-6">
            <u1 class="list-group">
                <li class="list-group-item" ng-repeat="contact in contacts">
                    <h2>{{contact.firstName + ' ' +contact.lastName}}</h2>
                    <p>{{contact.email}}</p>
                    <p>{{contact.company}}</p>
                    <p>{{contact.phone}}</p>
                </li>
            </u1>
        </div>
    </div>

    <script src="https://https://ajax.googleapis.com/ajax/libs/angularjs.min.js"></script>
    <script src="index.js"></script>
 
</body>
</html>
